#version: '3.8'
#
#services:
#  web:
#    build: .
#    ports:
#      - "5000:5000"
#    environment:
#      - EMAIL_USER=your-email@example.com
#      - EMAIL_PASS=your-email-password
#    volumes:
#      - .:/app
#    depends_on:
#      - db
#  db:
#    image: postgres:latest
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: password
#      POSTGRES_DB: real_estate
#    volumes:
#      - db_data:/var/lib/postgresql/data
#
#volumes:
#  db_data:
