{% extends "layout.html" %}
{% block content %}
    <h2>New Location</h2>
    <form method="POST" action="{{ url_for('main.new_location') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name() }}<br>
            {% for error in form.name.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description() }}<br>
            {% for error in form.description.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
